{% extends 'base.html' %}

{% block content %}
<div style="background:lightgrey !important;padding: 60px;margin: 10px;border-radius:25px" >
    <h1>{% block title %} Welcome to RFx Site {% endblock %}</h1>
    <p> Raster Function is an will be better than ever.</p>
</div>

<div class="col-xs-12 col-sm-9">
    <h3>Apps</h3>
    <ul>
        <li>
            <h4><a title="Point of contact (aka function owner) for all 100+ functions." href="{{ url_for('rfx_owners') }}">Function Owners</a></h4>
        </li>

        <br/>

    </ul>
</div>
{% endblock %}